body {
    background-color: #292929;
    color: #d4d4d4;
    font-family: "Lucida Console", Monaco, monospace;
}

a {
    text-decoration: none;
    color: #8787af;
}

a:hover {
    color: #afd700;
}

#container {
    width: 960px;
    margin: 0 auto;
}

.article {
    margin-top: 10px;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px dashed;
    border-color: #0b0b0b;
    background-color: #1c1c1c;
}

#footer {
    padding-top: 25px;
    text-align: center;
}

#logo {
    font-size: 75px;
    text-align: center;
}

#nav {
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

#nav a {
    color: #afd700;
}

#nav a:hover {
    color: #8787af;
}

#logo a {
    color: #d4d4d4;
}
