body {
    background-color: #323232;
    color: #d4d4d4;
    font-family: "Lucida Console", Monaco, monospace;
}

a {
    text-decoration: none;
    color: #ff9933;
}

a:hover {
    color: #8787af;
}

#container {
    width: 960px;
    margin: 0 auto;
}

.article {
    margin-top: 10px;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px dashed;
    border-color: #0b0b0b;
    background-color: #1c1c1c;
}

#footer {
    padding-top: 25px;
    text-align: center;
}
