body {
    background-color: #292929;
    color: #d4d4d4;
    font-family: "Lucida Console", Monaco, monospace;
}

h1, h2, h3, h4, h5, h6 {
    color: #d47568;
}

a {
    text-decoration: none;
    color: #8787af;
}

a:hover {
    color: #afd700;
}

#container {
    width: 960px;
    margin: 0 auto;
}

.article {
    margin-top: 10px;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px dashed;
    border-color: #0b0b0b;
    background-color: #1c1c1c;
    overflow: auto;
}

#footer {
    padding-top: 25px;
    text-align: center;
}

#logo {
    font-size: 75px;
    text-align: center;
}

#nav {
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

.outer-link {
    color: #afd700;
    font-weight: bold;
}

.outer-link:hover {
    color: #8787af;
}

#logo a {
    color: #d4d4d4;
}

#social li {
    font-size: 28px;
}

.meow {
    width: 95%;
    height: auto;
    padding: 20px;
}

.project-display {
    width: 250px;
    height: 250px;
    padding-right: 12px;
    padding-bottom: 12px;
}


code {
  width: 480px;
  color: #43892a;
  background-color: #000;
  display: block;
}
