{% extends "base.jinja" %}
{% block title %}About{% endblock %}
{% block logo %}ABOUT{% endblock %}
{% block content %}
    <div class="article">
        <p>Software developer, cosplayer, based in New York City.</p>
        <p>Available for hire/contract. Specializes in data mining, GIS, security tooling, and distributed computing. </p>
        <p>Opinions expressed are solely my own and do not express the views or opinions of my employers and clients.</p>
    </div>
    <div class="article">
        <ul id="social">
            <li><a href="https://github.com/iakinsey">Github</a></li>
            <li><a href="https://twitter.com/iakinsey">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/kinseyian/">LinkedIn</a></li>
            <li><a href="https://www.instagram.com/uwubiquity/">Instagram</a></li>
            <li><a href="/public.key">Public Key</a></li>
        </ul> 
    </div>
    <div class="article">
        <img src="meow1.jpg" class="meow" />
    </div>
{% endblock %}
