{% extends "base.jinja" %}
{% block title %}About{% endblock %}
{% block logo %}ABOUT{% endblock %}
{% block content %}
    <div class="article">
        <h1>Summary</h1>
        <p>Hacker, cosplayer, nomad. Currently based in New York City.</p>
        <p>Available for hire/contract. Among other things, I specialize in data mining, GIS, security tooling, and distributed computing.</p>
    </div>
    <div class="article">
        <h1>Social media</h1>
        <ul id="social">
            <li><a href="https://github.com/iakinsey">Github</a></li>
            <li><a href="https://twitter.com/iakinsey">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/kinseyian/">LinkedIn</a></li>
            <li><a href="https://www.instagram.com/uwubiquity/">Instagram</a></li>
        </ul> 
    </div>
    <div class="article">
        <h1>My kitty</h1>
        <img src="meow1.jpg" class="meow" />
        <img src="meow2.jpg" class="meow" />
        <img src="meow3.jpg" class="meow" />
    </div>
{% endblock %}
