<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Ian Kinsey</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/code.css" />
    <link rel="icon" href="/favicon.png" />
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta property="og:description" content="Thoughts on software">
    <meta property="og:image" content="http://iankinsey.com/ogimage.png">
    <meta property="og:url" content="https://iankinsey.com">
    <meta name="twitter:description" content="Thoughts on software.">
    <meta name="twitter:image" content="http://iankinsey.com/ogimage.png">
    <meta name="twitter:card" content="summary_large_image">

    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="container">
        <div id="logo">
            {% block logo %}
            <a href="/"><img src="/lainheader.gif" width="200" /></a>
            {% endblock %}
        </div>
        <div id="head">
            <div id="nav">
                <a class="outer-link" href="/">Blog</a> |
                <a class="outer-link" href="/projects.html">Projects</a> |
                <a class="outer-link" href="/about.html">About</a>
            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">Ian Kinsey {{ current_year }} | <a class="outer-link" href="/rss.xml">RSS</a></div>
    </div>
</body>
</html>
