{% extends "base.jinja" %}
{% block title %}Projects{% endblock %}
{% block logo %}PROJECTS{% endblock %}
{% block content %}
    <div class="article">
        <h1 class="center-text"><a href="https://arxiv.org/abs/2404.12560">Dubo</a></h1>
        <img src="/dubo.gif" class="project-display" align="left" />
        <p>AI text-to-SQL engine. Write accurate, cost-effective SQL queries from natural language.</p>
    </div>
    <div class="article">
        <h1 class="center-text"><a href="https://github.com/iakinsey/metagnosis">Metagnosis</a></h1>
        <img src="/metagnosis.png" class="project-display" align="left" />
        <p>Aggregates the latest and most interesting computer science research. Prints it into a book for your viewing pleasure once a month.</p>
    </div>
    <div class="article">
        <h1 class="center-text"><a href="https://github.com/iakinsey/celeve">Celeve</a></h1>
        <img src="/celeve.png" class="project-display" align="left" />
        <p>Tracks interesting events nearby based on your preferences.</p>
    </div>
    <div class="article">
        <h1 class="center-text"><a href="https://github.com/iakinsey/aletheophone">Aletheophone</a></h1>
        <img src="/aletheophone.png" class="project-display" align="left" />
        <p>Digital dream journal. Allows user to track similar dreams and interpret the meaning of them over time.</p>
    </div>
    <div class="article">
        <h1 class="center-text"><a href="https://github.com/iakinsey/delver/tree/master">Delver</a></h1>
        <img src="/bandit.png" class="project-display" align="left" />
        <p>Web crawler application framework. Users can create single/multi node data pipelines. Features automatic scaling, customizable deployments, and observability.</p>
        <p>Originally designed to crawl tor hidden services, later expanded to extract and process a diverse array of OSINT sources.</p>
    </div>
     <div class="article">
        <h1 class="center-text"><a href="http://www.iankinsey.com/articles/2023-10-31-botface.html">Botface</a></h1>
        <img src="/botfacethumb.png" class="project-display" align="left" />
        <p>I cosplayed as a robot from the video game stray</p>
        <p>Incorporates custom hardware and software to deliver a unique interactive experience. Augmented reality elements are seamlessly integrated, elevating the costume's realism and audience engagement.</p>
    </div>
    <div class="article">
        <h1 class="center-text">Informe</h1>
        <img src="/informe.png" class="project-display" align="left" />
        <p>Analyzes current events from various sources on the web. Users can create customized news dashboards using JSON configuration. Feeds can be filtered via features such as sentiment, geography, and ticker symbols. Data can be visualized via text feed, map, or sentiment graph.</p>
        <p>Data feeds are generated by the Bandit web crawler.</p>
        <p>Currently offline while migrating to new backend</p>
    </div>
    <div class="article">
        <h1 class="center-text">Artemis</h1>
        <img src="/artemis.png" class="project-display" align="left" />
        <p>Play games in real life with your friends using maps on your mobile device! Development still in-progress, expected to release in 2024.</p>
    </div>
    <div class="article">
        <h1 class="center-text"><a href="https://anigraph.s3-us-west-1.amazonaws.com/index.html">Anigraph</a></h1>
        <img src="/anigraph.png" class="project-display" align="left" />
        <p>Displays the similarity of popular anime in the form of a directed graph. Built using data mining features from the Bandit web crawler.</p>
        <p>Updated infrequently.</p>
    </div>
    <div class="article">
        <h1 class="center-text"><a href="https://github.com/iakinsey/blog">This Website</a></h1>
        <img src="/lainheader.gif" class="project-display" align="left" />
        <p>My personal developer blog.</p>
        <p>Free of modern excesses such as Javascript, cookies, trackers, and HTTP frameworks. Static pages, sitemaps, and RSS feeds are generated at compile time and hosted on S3. Articles are written in Markdown and converted to HTML during compile time.</p>
    </div>


{% endblock %}
