<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
    {% for url in urls %}
    <url>
        <loc>{{ url | safe}}</loc>
        <changefreq>daily</changefreq>
        <priority>1.0</priority>
    </url>
    {% endfor %}
    {% for article in articles %}
    <url>
        <loc>{{article['url'] | safe}}</loc>
        <lastmod>{{article['strdate'] | safe}}</lastmod>
        <changefreq>daily</changefreq>
        <priority>1.0</priority>
    </url>
    {% endfor %}
</urlset>
